<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MM <i class="fa fa-arrows-h"></i> ZG Converter</title>
    <link rel="stylesheet" type="text/css" href="../public/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../public/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../public/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
    <div class="flex">
        <div class="sidebar" id="sidebar-part">
            <div class="flex-sidebar">
                <div class="logo">
                    <img src="../public/icons/png/icon.png" alt="">
                </div>
                <ul>
                    <li><a href="convert.html">Converter (ZG <i class="fa fa-arrows-h"></i> UNI)</a></li>
                    <li><a href="about.html">About Converter</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
           <div class="nav">
                <a href="#" class="menu-bars"><i class="fa fa-bars"></i></a>
                <div class="option">
                    <div class="action" onclick="closeWindow();">&#x02A2F;</div>
                    <div class="action" onclick="maximize();">&#x1f5d6;</div>
                    <div class="action" onclick="minimize();">&#x1f5d5;</div>
                </div>
            </div>
            <div class="about">
                <div class="profile">
                    <img src="../public/image/cv.jpg"  alt="" class="img-circle">
                </div>
                <br>
                <div class="text-center">
                    <h3 class="name"> Lar May See  </h3>
                    <br>
                    <ul class="list-inline social">
                        <li class="list-inline-item"><a href="https://www.facebook.com/lamaysee" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/larmaysee" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/LarMaySee" target="_blank"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
                <br>
                <hr>
                <div class="reference">
                    <strong>Reference Lists</strong>
                    <ol>
                        <li>Electron JS ( <a href="https://electron.atom.io/" target="_blank">www.electron.atom.io</a> )</li>
                        <li>Node JS ( <a href="https://nodejs.org/en/" target="_blank">www.nodejs.org</a> )</li>
                        <li>Rabbit Converter ( <a href="http://www.rabbit-converter.org/Rabbit/" target="_blank">www.rabbit-converter.org</a> )</li>
                        <li>Knayi-Myscript ( <a href="https://www.npmjs.com/package/knayi-myscript" target="_blank">Knayi Myscript</a> )</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <script src="../public/js/jquery-1.10.1.min.js"></script>
    <script src="../converter.js"></script>
    <script src="../public/js/style.js"></script>
</body>
</html>